.CurrencyDropdown {
    margin-left: -25vw;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-top: 30vh
  }
  
  select {
    padding: 12px 16px;
    border-radius: 8px;
    border: 2px solid #3f044d;
    background-color: #f8f9fa;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    transition: border-color 0.3s, background-color 0.3s;
  }
  
  label {
    display: block;
    color: #4b0082;
    margin-right: 2vw;
    margin-bottom: 0.5rem;
  }
  
  select:hover,
  select:focus {
    border-color: #3d0071;
    background-color: #f1f1f1;
    outline: none;
  }
  